.main-heading {
  color: black;
  text-align: center;
}
.image-main-size {
  height: 400px;
  width: auto;
  margin: auto;
  display: block;
}
.image-secondary-size {
  height: 400px;
  width: auto;
}
.dish-list {
  text-align: center;
}
a {
  color: black;
}
body {
  background: rgb(251,63,63);
  background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(255,255,255,1) 100%);
}